.modal_global {
    position: fixed;
/* distance depuis le bord haut de la modal */
    top: 50%;
    left: 50%;
/* permet de centrer en prenant les mesures de l'int de la modal */
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border: solid;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

.modal_global::backdrop {
  background-color: #448;
}
    

    .form {

      form {
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 15px;

        input {
          border-radius: 10px;
        }

        button {
          border-radius: 10px;
        }
        
        button:hover {
            cursor: pointer;
        }
      }
    }
}